body { /* Corpo da página*/
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: #f3f5fc;

}

#logotipo { /* Imagem da letra A no top esquerdo*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;

}

#txt-encriptar { /* Caixa de inserção de texto */
    position: absolute;
    width: 680px;
    height: auto;
    left: 240px;
    top: 168px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
    border: none;
    background-color: #f3f5fc;
    
    outline: 0;
    resize: none;
    overflow: auto;
}

#txt-encriptar::-webkit-scrollbar{ /* Tirar a barra de rolagem*/
    display: none;
}

#txt-encriptar::placeholder { /*Texto dentro do textarea */
    color: #0A3871;
}

#exclamacao { /* Imagem de exclamação*/
    width: 16px;
    height: 16px;

    position: absolute;
    left: 240px;
    right: 1184px;
    top: 852px;
    bottom: 156px;
}

#aviso { /* Texto de aviso*/
    position: relative;
    top: 851px;
    right: 948px;
    left: 264px;
    bottom: 155px;
    
    width: 228px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;
    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#buttons { /* Div dos Botões + Aviso */
    width: 680px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.btn_criptografar { /* Botão de Criptografar*/
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    top: 885px;
    bottom: 72px;
    left: 240px;
    right: 872px;

    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    transition: all 0.5s ease;
}

.btn_criptografar:hover { /* Animação do Botão criptografar para quando passar o mouse em cima*/
    scale: 1.1;
}

.btn_criptografar:active { /* Animação do Botão criptografar para quando clicar no botão*/
    scale: 0.9;
}

.btn_descriptografar { /* Botão descriptografar*/
    cursor: pointer;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;

    background: #D8DFE8;
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    flex: none;
    order: 1;
    flex-grow: 0;

    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A3871;

    position: absolute;
    top: 885px;
    bottom: 72px;
    left: 592px;
    right: auto;

    transition: all 0.5s ease;
}

.btn_descriptografar:hover { /* Animação do botão descriptografar para qunado passar o mouse em cima*/
    scale: 1.1;
}

.btn_descriptografar:active { /* Animação do Botão descriptografar para quando clicar no botão*/
    scale: 0.9;
}

#caixa-etapa-1 { /* Retangulo (Branco) a direita*/
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#imagemInicio { /* Imagem dentro do retângulo a direita*/
    position: absolute;
    width: 336px;
    height: 304px;
    right: 72px;
    top: 283px;    
}

#txt-inicio {/**/
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}