body {
    background-color: #E5E5E5;
}
#a {
    width: 31.09px;
    height: 48px;
    left: 44px;
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
    background: #0A3871;
}