body {
    background-color: #E5E5E5;
}

/* Imagens da letra A no top esquerdo*/
#a-header {
    padding-top: 40px;
    padding-left: 84px;
}

/* Caixa de inserção de texto */
input {
    position: absolute;
    width: 680px;
    height: 48px;
    left: 240px;
    top: 168px;
    
    font-family: 'Inter';
    font-style: bold;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    border-radius: 20px 20px 20px 20px;
}